{{ define "head" }}
<head>
	<title>RPS Export</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/css/bootstrap-3.3.7.min.css" rel="stylesheet">
	<style>
	html, body {
		height: 100%;
	}

	.aligner {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}

	.long-text {
		word-wrap: break-word;
	}

	@media (max-width:767px){
		.well {
			margin-top: 20px;
		}
	}

	.well {
		transition: all .2s;
	}

	.well.ic-transitioning {
		opacity: 0;
	}
	</style>
</head>
{{ end }}

{{ define "scripts" }}
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/intercooler-1.0.3.min.js"></script>
<script src="/assets/js/bootstrap-3.3.7.min.js"></script>
{{ end }}