<!DOCTYPE html>
<html lang="de">
	{{ template "head" }}
	<body>
		<div class="aligner container">
			<div class="col-sm-6 col-xs-12">
				<div id="well" class="well">
					{{ block "generated.html-fragment" . }}
					<div class="text-center">
						{{ template "tiger-img" }}
						<h2>RPS Export</h2>
						<hr />
					</div>


					<div class="text-center">

						<p>
							Mit dieser URL kannst du deinen Dienstplan bei anderen Kalendern hinzufügen:
						</p>

						<p>
							<strong class="long-text"><a href="{{ .url }}">{{ .url }}</a></strong>
						</p>

						<hr />
						<a href="/" ic-get-from="/" ic-target=".well" ic-push-url="true"
							class="btn btn-default">Zurück</a>
					</div>
					{{ end }}
				</div>

				<p class="text-center text-muted">
					Den Quellcode für diese Webseite findest du auf <a href="https://github.com/sprungknoedl/rps-export">GitHub</a> .
				</p>
			</div>
		</div>

		{{ template "scripts" }}
	</body>
</html>